:root {
  --primary: #5af;
  --blue: #5af;
  --red: #f66;
  --green: #6fa;
  --orange: #fb6;
  --yellow: #ff6;
  --purple: #d6d;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', serif;
  display: grid;
  grid-template-columns: 100%;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header "
                       "content"
                       "footer ";
  -webkit-overflow-scrolling: touch;
}

.content {
  margin-right: 8px;
  margin-left: 8px;
  overflow-y: scroll;
}

.header {
  grid-area: header;
  background-color: var(--primary);
  text-align: center;
}

.header > h1 {
  margin: 0;
  padding-top: 16px;
  padding-bottom: 16px;
}

.displayFrame {
  margin: 0;
  padding: 0;
  border: none;
}

ul.list {
  padding-left: 0;
}

ul.list > li {
  list-style: none;
  border: solid black 1px;
  padding: 1em .5em;
  display: grid;
}

ul.list > li:not(.sListItem) {
  grid-template-columns: auto 80px;
  grid-template-rows: auto auto;
  grid-template-areas: "title buttons"
                       "notes quant  "
                       "tags  tags";
}

ul.list > li > h2 {
  margin: 0;
  padding: 0;
  grid-area: title;
}

ul.list > li:not(.sListItem) > p.itemNotes {
  margin: 0;
  padding: 0;
  grid-area: notes;
}

ul.list > li:not(.sListItem) > p.quant {
  margin: 0;
  padding: 0;
  grid-area: quant;
  text-align: right;
  margin-top: auto;
  padding-right: .5em;
}

ul.list > li:not(.sListItem) > .listControl {
  text-align: right;
  grid-area: buttons;
}

ul.list > li:not(.sListItem) > .listControl > img {
  height: 30px;
  margin: 5px;
}

ul.list > li.sListItem {
  grid-template-columns: auto 40px;
  grid-template-rows: auto;
  grid-template-areas: "title control";
}

ul.list > li.sListItem.select {
  grid-template-columns: auto 120px;
}

div.swatch {
  width: 30px;
}

ul.list > li.sListItem.checkbox > h2 {
  margin-top: .25em;
}

ul.list > li.sListItem > .listControl {
  text-align: left;
  grid-area: control;
  height: 40px;
}

ul.list > li.sListItem > .listControl > img {
  height: 30px;
  margin: 5px;
}

div.tags {
  grid-area: tags;
  font-size: .8em;
}

div.tag {
  display: inline-block;
  background-color: var(--secondary);
  border: 1px solid var(--secondary-fade);
  border-radius: 3px;
  max-width: 10em;
  overflow: hidden;
  height: 1.2em;
  margin: .3em .6em .3em 0;
  padding: .2em;
}

.bottomNav {
  background-color: var(--primary);
  grid-area: footer;
  font-size: 0; /* to fix gap issues */
}

.navbar {
  /* background-color: blue; */
  list-style: none;
  padding: 0;
  width: 240px;
  margin-left: auto;
  margin-right: auto;
}

.navitem {
  /* background-color: cyan; */
  text-align: center;
  width: 60px;
  display: inline-block;
  font-size: 16px; /* to fix gap issue */
  margin-top: .5em;
  margin-bottom: .5em;
}

.navIcon {
  /* background-color: magenta; */
  width: 30px;
}
