:root {
  --primary: #5ba6ff
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', serif;
  display: grid;
  grid-template-columns: 100%;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header "
                       "content"
                       "footer ";
  -webkit-overflow-scrolling: touch;
}

.content {
  margin-right: 8px;
  margin-left: 8px;
  overflow-y: scroll;
}

.header {
  grid-area: header;
  background-color: var(--primary);
  text-align: center;
}

.header > h1 {
  margin: 0;
  padding-top: 16px;
  padding-bottom: 16px;
}

.displayFrame {
  margin: 0;
  padding: 0;
  border: none;
}

ul.list {
  padding-left: 0;
}

ul.list > li {
  list-style: none;
  border: solid black 1px;
  padding: 1em .5em;
  display: grid;
  grid-template-columns: auto 80px;
  grid-template-rows: auto auto;
  grid-template-areas: "title buttons"
                       "notes quant  ";
}

ul.list > li > h2 {
  margin: 0;
  padding: 0;
  grid-area: title;
}

ul.list > li > p.itemNotes {
  margin: 0;
  padding: 0;
  grid-area: notes;
}

ul.list > li > p.quant {
  margin: 0;
  padding: 0;
  grid-area: quant;
  text-align: right;
  margin-top: auto;
  padding-right: .5em;
}

.listControl {
  text-align: right;
  grid-area: buttons;
}

.listControl > img {
  height: 30px;
  margin: 5px;
}

.bottomNav {
  background-color: var(--primary);
  grid-area: footer;
  font-size: 0; /* to fix gap issues */
}

.navbar {
  /* background-color: blue; */
  list-style: none;
  padding: 0;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.navitem {
  /* background-color: cyan; */
  text-align: center;
  width: 80px;
  display: inline-block;
  font-size: 16px; /* to fix gap issue */
  margin-top: .5em;
  margin-bottom: .5em;
}

.navIcon {
  /* background-color: magenta; */
  width: 40px;
}
